body{
  background-color: olivedrab;
  
}

p {
   font-family: "Courier New", monospace;
   font-size: 20px;
   padding: 20 px; 
   border-width: 10 px;
   margin: 40 px;
   border-style: dashed;
   padding: 15px;
   display: block;
   width: 800px
   
      
	
}
h1{
	font-family: "Courier New", monospace;
}

img{
	 
	padding: 10px;
	border-width: 10 px;
	border-style: solid;

	margin: 40 px
}

.Img1{
	display:inline; 
	float: right;
}

a:link {
  color: blue;
}

a:visited {
  color: orange;
}

a:hover {
  color: hotpink;
}

a:active {
  color:gray ;
}

